#hd{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: gray;
    
    
    
    

}

li{
    position: relative;
    top: 150;

    display: inline;
    background-color: gray;
    margin: 0%;
    padding: 0%;
    

    
}

#hd:hover{

}

li:hover{

}

